<thf-toolbar [titleText]="'ANALYTICS'" [buttonText]="nextButton" [buttonDisabled]="!hasSelected" (buttonCallback)="nextPage()">
</thf-toolbar>

<ion-content has-header>
  <div *ngIf='apps && apps.length === 0' class="no-apps" text-center>
      <ion-icon class='icon' large name="sad"></ion-icon><br>
      {{'SELECTAPP.NO_APPS' | translate}}<br>
  </div>
  <div *ngIf='apps && apps.length > 0'>
    <div class="texttitle" padding>
        {{'SELECTAPP.SelectApp'|translate}}<br>
      </div>
  
    <ion-card *ngFor='let app of apps' (click)='toggle(app)'>
      <ion-card-content>
        <ion-row>
          <ion-col col-11>
            {{ app.title }}
          </ion-col>
          <ion-col col-1>
            <ion-checkbox [(ngModel)]='app.visible' (ionChange)="checkNextPage()" color="primary" ></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>